<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-02T06:17:48Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jkortela/Documents/walter_russell_dynamo/github_simulaattori/StateDependentParaformerSimulator/StateDependentParaformerSimulator.xcodeproj</string>
</dict>
</plist>
